<!DOCTYPE html>
<html>

<head>
    <title>Edit Todo</title>
</head>

<body>
    <h2 align="center">Edit Todo</h2>
    <a href="/show">Show Task</a>
    <form action="/edit/<%= todo._id %>" method="POST">
        <table align="center" border="1">
            <tr>
                <td>Enter Task</td>
                <td>
                    <input type="text" name="task" value="<%= todo.task %>" required />
                </td>
            </tr>

            <tr>
                <td>Type</td>
                <td>
                    <select name="type">
                        <option value="Personal" <%= todo.type === 'Personal' ? 'selected' : '' %>>Personal</option>
                        <option value="Work" <%= todo.type === 'Work' ? 'selected' : '' %>>Work</option>
                        <option value="Other" <%= todo.type === 'Other' ? 'selected' : '' %>>Other</option>
                    </select>
                </td>
            </tr>
            <td></td>
            <td> <input type="submit" value="Update Todo"></td>
        </table>

    </form>
</body>
</html>